<!-- app/views/home/index.html.erb -->
<div class="row position-absolute mt-5">
    <div>
        <div class="container">
            <div class="row">
                <% @vinos.each do |vino| %>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="card text-center pb-3 mb-5">
                            <img class="card-img-top" src="https://thefoodtech.com/wp-content/uploads/2020/12/etiqueta-de-vino-vallejo-avenas-.jpg" alt="<%= vino.nombre %>" />
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= vino.nombre %>
                                </h5>
                                <div class="card-text">
                                <p>Texto</p>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>