<div id="<%= dom_id enologo %>">
  <p>
    <strong>Nombre:</strong>
    <%= enologo.nombre %>
  </p>

  <p>
    <strong>Edad:</strong>
    <%= enologo.edad %>
  </p>

  <p>
    <strong>Nacionalidad:</strong>
    <%= enologo.nacionalidad %>
  </p>

</div>
